
<button id="btnPrueba">Generar Cartones</button>
<br />
<button id="btnTirarBola">Tirar bola</button>

<div class="content">
    <div class="row">
        <div class="box box-default">
            <div class="box-body">
                <div id="divTablaDinamica">
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    
    var dataB = [];
    var array1 = [];
    var array2 = [];
    var array3 = [];
    var array4 = [];
    var cartonLleno = [];

    function hasDuplicates(arr) {
        var hayDuplicados = (arr.some(x => arr.indexOf(x) !== arr.lastIndexOf(x)));
        if ((arr.some(x => arr.indexOf(x) !== arr.lastIndexOf(x))) === true) {
            arr.pop();
        }
        return hayDuplicados;
    }

    $("#btnTirarBola").click(function() {
        //Verificamos repetidos, en caso de haberlos volvemos a tirar la bol
        var numberR = 0;
        console.log(listaBingo)
        do {
            //numberR = Math.floor(Math.random() * 91);
            //Generamos números del 1 al 90
            numberR = Math.floor((Math.random() * (90 - 1 + 1)) + 1)
            dataB.push(numberR);
        } while (hasDuplicates(dataB) || numberR === 0);

        var inputs = $("#tblBingo0").find("td");
        var inputs2 = $("#tblBingo1").find("td");
        var inputs3 = $("#tblBingo2").find("td");
        var inputs4 = $("#tblBingo3").find("td");

        inputs.each(function() {
            let input = $(this).attr('id');
            let posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo0_${posicionTd}`).css("background-color", "#FF0040");
                array1.push(numberR);
            }
        });

        inputs2.each(function() {
            let input = $(this).attr('id');
            let posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo1_${posicionTd}`).css("background-color", "#FF0040");
                array2.push(numberR);
            }
        });

        inputs3.each(function() {
            let input = $(this).attr('id');
            var posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo2_${posicionTd}`).css("background-color", "#FF0040");
                array3.push(numberR);
            }
        });

        inputs4.each(function() {
            let input = $(this).attr('id');
            let posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo3_${posicionTd}`).css("background-color", "#FF0040");
                array4.push(numberR);
            }
        });
                
        if (array1.length === 15) { 
            cartonLleno.push(1);
        };
        if (array2.length === 15) {
            cartonLleno.push(2);
        }
        if (array3.length === 15) { 
            cartonLleno.push(3);
        }
        if (array4.length === 15) {
            cartonLleno.push(4);
        }

        if (array1.length === 15 || array2.length === 15 || array3.length === 15|| array4.length === 15)
        {
            $.ajax({
                url: '@Url.Action("TirarBola")',
                type: "POST",
                dataType: "json",
                data: { data: dataB, cartones: cartonLleno },
                success: function(data) {
                    if (cartonLleno.length === 1) {
                        alert(`El Cartón Ganador es el: N° ${cartonLleno[0]}`);
                    }
                    if (cartonLleno.length === 2) {
                        alert(`Los Cartones ganadores son los: N° ${cartonLleno[0]}, N° ${cartonLleno[1]}`);
                    }
                    if (cartonLleno.length === 3) {
                        alert(`Los Cartones ganadores son los: N° ${cartonLleno[0]}, N° ${cartonLleno[1]}, N° ${cartonLleno[2]}`);
                    }
                    if (cartonLleno.length === 4) {
                        alert(`Los Cartones ganadores son los: N° ${cartonLleno[0]}, N° ${cartonLleno[1]}, N° ${cartonLleno[2]}, N° ${cartonLleno[3]}`);
                    }
                }
            });
        }
    })

    var listaBingo = [];
    $("#btnPrueba").click(function() {
        $.ajax({
            url: "/Home/ConsultaDatos",
            type: "GET",
            dataType: "json",
            success: function(data) {
                debugger
                console.log(data.dataBingoL.length);
                console.log(data.dataBingoL);
                listaBingo = data.dataBingoL;
                $('#divTablaDinamica div').empty();
                //Se crea elemento del DOM dinamicamente en div(dinamica)
                $("#divTablaDinamica").append(`<div id='dinamica'></div>`);

                var contenido = `<h5 class="pull-right" id='totales'><strong>Bolilla: </strong>&nbsp;&nbsp;`;
                contenido += "<br>";
                contenido += "<div class='row'>";
                for (var i = 0; i < data.dataBingoL.length; i++) {
                    contenido += "<div class='col-6'>";
                    contenido += "<table id='tblBingo" + i + "' class='table table-bordered border-primary'>";
                    contenido += "<tr>";
                    //console.log(data.dataBingoL[i].data.length)
                    for (var j = 0; j < data.dataBingoL[i].data.length; j++) {
                        if (j % 9 == 0) {
                            contenido += "<tr>";
                        }
                        if (data.dataBingoL[i].data[j].column1 === 0) {
                            contenido += `<td id="tblBingo${i}_${data.dataBingoL[i].data[j].column1}" style='background-color: Aqua;'>`;
                        } else {
                            contenido += `<td id="tblBingo${i}_${data.dataBingoL[i].data[j].column1}">`;
                            contenido += data.dataBingoL[i].data[j].column1;
                        }
                        contenido += "</td>";
                    }
                    contenido += "</tr>";
                    contenido += "</table>";
                    contenido += '</div>';
                }
                //contenido += '</div>';
                contenido += '</div>';
                document.getElementById("dinamica").innerHTML = contenido;
            }
        });
    });

</script>