
<div class="container">
        <button id="btnGenerarCartones" class="btn btn-success">Generar Cartones</button>
        <br />
        <br />

    <div class="row">
        <div class="box box-default">
            <div class="box-body">
                <div id="divTablaDinamica">
                </div>
            </div>            

            <div class="box-footer">
                <div class="form-group">
                </div>
            </div>
        </div>
    </div>
    
    <button id="btnTirarBola" class="btn btn-primary" style="display:none;">Lanzar Bolilla</button>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

    var dataB = [];
    var array1 = [];
    var array2 = [];
    var array3 = [];
    var array4 = [];
    var cartonLleno = [];
    var cartonGanadorTexto = "";

    function hasDuplicates(arr) {
        var hayDuplicados = (arr.some(x => arr.indexOf(x) !== arr.lastIndexOf(x)));
        if ((arr.some(x => arr.indexOf(x) !== arr.lastIndexOf(x))) === true) {
            arr.pop();
        }
        return hayDuplicados;
    }

    $("#btnTirarBola").click(function() {
        //$("#btnTirarBola").prop("disabled", true);
        //Verificamos repetidos, en caso de haberlos volvemos a tirar la bol
        var numberR = 0;
        //console.log(listaBingo)

        if (cartonLleno.length > 0) {
            Swal.fire({
                icon: 'error',
                title: 'Advertencia...',
                text: "Partida Terminada, no puedes seguir jugando!!!"
            });
            return;
        }

        do {
            //numberR = Math.floor(Math.random() * 91);
            //Generamos números del 1 al 90
            numberR = Math.floor((Math.random() * (90 - 1 + 1)) + 1)
            dataB.push(numberR);
        } while (hasDuplicates(dataB) || numberR === 0);

        $("#bolillaId").val(numberR);

        var inputs = $("#tblBingo0").find("td");
        var inputs2 = $("#tblBingo1").find("td");
        var inputs3 = $("#tblBingo2").find("td");
        var inputs4 = $("#tblBingo3").find("td");

        inputs.each(function() {
            let input = $(this).attr('id');
            let posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo0_${posicionTd}`).css("background-color", "#FF0040");
                array1.push(numberR);
            }
        });

        inputs2.each(function() {
            let input = $(this).attr('id');
            let posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo1_${posicionTd}`).css("background-color", "#FF0040");
                array2.push(numberR);
            }
        });

        inputs3.each(function() {
            let input = $(this).attr('id');
            var posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo2_${posicionTd}`).css("background-color", "#FF0040");
                array3.push(numberR);
            }
        });

        inputs4.each(function() {
            let input = $(this).attr('id');
            let posicionTd = document.getElementById(input).innerHTML;

            if (numberR === Number(posicionTd)) {
                $(`#tblBingo3_${posicionTd}`).css("background-color", "#FF0040");
                array4.push(numberR);
            }
        });

        if (array1.length === 15) {
            cartonLleno.push(1);
        }
        if (array2.length === 15) {
            cartonLleno.push(2);
        }
        if (array3.length === 15) {
            cartonLleno.push(3);
        }
        if (array4.length === 15) {
            cartonLleno.push(4);
        }

        if (cartonLleno.length > 0) {
            Swal.fire({
                icon: 'info',
                title: 'Partida Terminada',
                text: "Partida Terminada!!!"
            });
        }

        for  (var c = 0; c < cartonLleno.length; c++)  {
            if  (cartonLleno.length == 1)  {
                cartonGanadorTexto = cartonLleno[c].toString();
            }
            if  (cartonLleno.length > 1)  {
                cartonGanadorTexto = cartonLleno[c].toString() + ",";
                cartonGanadorTexto = cartonGanadorTexto.substr(0, cartonGanadorTexto.length - 1);
            }
        }

        $("#cartonGanador").val(cartonGanadorTexto);

        if (array1.length === 15 || array2.length === 15 || array3.length === 15  || array4.length === 15) {
            $("#btnTirarBola").prop("disabled", true);
            $.ajax({
                url: '@Url.Action("TirarBola")',
                type: "POST",
                dataType: "json",
                data: { data: dataB, cartones: cartonLleno },
                success: function(data) {
                    dataB = [];
                    debugger
                    if (cartonLleno.length === 1) {
                        Swal.fire({
                            icon: 'info',
                            title: 'Advertencia...',
                            text: `El Cartón Ganador es el: N° ${cartonLleno[0]}`
                        });
                    }
                    if (cartonLleno.length === 2) {
                        Swal.fire({
                            icon: 'info',
                            title: 'Cartón Ganador',
                            text: `Los Cartones ganadores son los: N° ${cartonLleno[0]}, N° ${cartonLleno[1]}`
                        });
                    }
                    if (cartonLleno.length === 3) {
                        Swal.fire({
                            icon: 'info',
                            title: 'Cartón Ganador',
                            text: `Los Cartones ganadores son los: N° ${cartonLleno[0]}, N° ${cartonLleno[1]}, N° ${cartonLleno[2]}`
                        });
                    }
                    if (cartonLleno.length === 4) {
                        Swal.fire({
                            icon: 'info',
                            title: 'Cartón Ganador',
                            text: `Los Cartones ganadores son los: N° ${cartonLleno[0]}, N° ${cartonLleno[1]}, N° ${cartonLleno[2]}, N° ${cartonLleno[3]}`
                        });
                    }

                    array1 = [];
                    array2 = [];
                    array3 = [];
                    array4 = [];

                    //$("#btnGenerarCartones").click();
                }
            });
        }

        $("#btnTirarBola").prop("disabled", false);
    })

    var listaBingo = [];
    $("#btnGenerarCartones").click(function() {

        $("#btnTirarBola").prop("disabled", false);

        if (dataB.length > 0) {
            Swal.fire({
                icon: 'error',
                title: 'Advertencia...',
                text: "No puedes volver a generar los cartones mientras no terminas la partida actual!!!"
            });
            return;
        }

        let timerInterval
        Swal.fire({
            title: 'Generando nuevos cartones',
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    //b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval);

                array1 = [];
                array2 = [];
                array3 = [];
                array4 = [];
                cartonLleno = [];

                $.ajax({
                    url: "/Home/ConsultaDatos",
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        //console.log(data.dataBingoL.length);
                        //console.log(data.dataBingoL);
                        listaBingo = data.dataBingoL;
                        $('#divTablaDinamica div').empty();
                        //Se crea elemento del DOM dinamicamente en div(dinamica)
                        $("#divTablaDinamica").append(`<div id='dinamica'></div>`);
                        
                        var contenido = "<div class='row'>";
                        contenido += "<div class='col-md-2'>";
                        contenido += "<h5 id='bolilla'><strong>Bolilla: </strong></h5>";
                        contenido += "</div>";
                        contenido += "<div class='col-md-4'>";
                        contenido += "<input id='bolillaId' style='text-align:center' size='10' disabled />";
                        contenido += "</div>";
                        contenido += "<div class='col-md-2'>";
                        contenido += "<h5 id=''><strong>Cartón Ganador: </strong></h5>";
                        contenido += "</div>";
                        contenido += "<div class='col-md-4'>";
                        contenido += "<input id='cartonGanador' style='text-align:center' size='15' disabled /></div></div>";
                        contenido += "</div>";
                        contenido += "<br>";
                        contenido += "<div class='row'>";
                        for (var i = 0; i < data.dataBingoL.length; i++) {
                            contenido += "<div class='col-md-6'>";
                            contenido += "<table id='tblBingo" + i + "' class='table table-bordered border-primary'>";
                            contenido += "<tr>";
                            //console.log(data.dataBingoL[i].data.length)
                            for (var j = 0; j < data.dataBingoL[i].data.length; j++) {
                                if (j % 9 == 0) {
                                    contenido += "<tr>";
                                }
                                if (data.dataBingoL[i].data[j].column1 === 0) {
                                    contenido += `<td id="tblBingo${i}_${data.dataBingoL[i].data[j].column1}" style='background-color: Aqua;'>`;
                                } else {
                                    contenido += `<td id="tblBingo${i}_${data.dataBingoL[i].data[j].column1}">`;
                                    contenido += data.dataBingoL[i].data[j].column1;
                                }
                                contenido += "</td>";
                            }
                            contenido += "</tr>";
                            contenido += "</table>";
                            contenido += '</div>';
                        }
                        //contenido += '</div>';
                        contenido += '</div>';
                        document.getElementById("dinamica").innerHTML = contenido;

                        $("#btnTirarBola").show();
                    }
                });

            }
        }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
                //console.log('I was closed by the timer')
            }
        });
    });

</script>